<div class='row' style='margin-left:5px;'>
  <strong>
    <%= link_to 'Remove', community_admin_friend_detention_path(current_community.slug, friend, detention), method: :delete, remote: true, class: 'delete' %>
  </strong><br>
  <strong>Date Detained:  </strong><%= detention.date_detained.strftime('%m/%d/%Y') if detention.date_detained.present? %><br>
  <strong>Date Released:  </strong><%= detention.date_released.strftime('%m/%d/%Y') if detention.date_released.present? %><br>
  <strong>Location Detained:  </strong><%=  detention.location.name if detention.location.present? %><br>
  <strong>Case Status:  </strong><%=  detention.display_case_status %><br>
  <strong>Notes:  </strong><%=  detention.notes if detention.notes.present? %><br>
  <strong><%= link_to "Edit", edit_community_admin_friend_detention_path(current_community.slug, friend, detention), remote: true, class: 'open_detention_modal' %></strong>
</div>
<br>
<br>