<h2>Friends with Active Applications</h2>

<div id='friends-with-active-applications'>
  <% @friends.map do |friend| %>
    <% friendship = current_user.relationship(friend) %>
    <div class='row'>
      <div class='col-md-6'>
        <u><h4><%= link_to friend.name, remote_clinic_lawyers_user_friend_path(user_id: current_user.id, id: friend.id) %></h4></u>
        <div>
          <strong>Assigned lawyer:  </strong><%= current_user.name %> -- <%= friendship.created_at.strftime('%m/%d/%Y') %>
        </div>
      </div>
      <div class='col-md-6'>
        <% friend.applications.each do |app| %>
          <div>
            <strong><%= app.category.titlecase %></strong>
            (<%= app.status.humanize %> <%= app.updated_at.strftime('%m/%d/%Y') %>)

            Open <%= (Date.today - app.created_at.to_date).to_i %> days
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
