<h2>Welcome, NSC Volunteer</h2>

<h4 class='text-muted'>Please take a moment to make sure your <%= link_to 'contact info', edit_community_user_path(current_community.slug, current_user) %> is up to date.</h4>
<br>

<h2>Your Programs</h2>
<h3><%= link_to 'Clinic', community_friends_path(current_community.slug) %></h3>

<% if current_community.primary? %>
  <% if current_user.accompaniment_leader? || current_user.eoir_caller? %>
    <h3><%= link_to 'Accompaniment Program', community_accompaniment_leader_activities_path(current_community.slug) %></h3>
  <% else %>
    <h3><%= link_to 'Accompaniment Program', community_activities_path(current_community.slug) %></h3>
  <% end %>
<% end %>

<% if current_user.has_active_eoir_caller_access_time_slot? %>
  <h3><%= link_to 'Accompaniment Data Entry', community_eoir_caller_activities_path(current_community) %></h3>
<% end %>

<br>
<h2>Thank you for all your hard work!</h2>
