<div id="modal_activity_<%= activity.id %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= "#{activity.event.humanize} for #{activity.friend.first_name}" %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div id='activity_<%= activity.id %>_accompaniment_form'>
            <div class='row' style='padding-left:15px;'>
              <strong>When:  </strong><%= activity.occur_at.strftime("%I:%M %p, %A, %B %-d, %Y") %><br>
              <strong>Where:  </strong><%= activity.location.name if activity.location.present? %><br>
              <% if activity.judge.present? %>
                <strong>Judge:  </strong><%= activity.judge.name %><br>
              <% end %>
              <% if activity.friend.phone.present? %>
                <strong>Friend Phone Number:  </strong><%= activity.friend.phone %><br>
              <% end %>
              <% if activity.friend.languages.present? %>
                <strong>Friend Languages:  </strong><%= activity.friend.languages.map(&:name).to_sentence %><br>
              <% end %>
              <% if activity.friend.a_number.present? %>
                <strong>A Number:  </strong><%= activity.friend.a_number %><br>
              <% end %>
              <% if activity.notes.present? %>
                <strong>Notes:  </strong><%= activity.notes %><br>
              <% end %>
            </div>
            <% if activity.accompaniment_leader_accompaniments.present? %>
              <strong>Accompaniment Leaders:  </strong>
              <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
            <% end %>
            <% if activity.volunteer_accompaniments.present? %>
              <strong>Volunteers:  </strong>
              <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'volunteer' %>
            <% end %>
            <% if activity.accompaniment_reports.present? %>
              <strong>Accompaniment Leader Notes:</strong>
              <ol>
                <% activity.accompaniment_reports.each do |report| %>
                  <li><strong>Notes by <%= report.user.name if report.user.present? %>:  </strong><%= report.notes %></li>
                <% end %>
              </ol>
            <% end %>

            <% if current_user.accompaniment_report_for(activity).present? %>
              <%= link_to 'Edit My Accompaniment Leader Notes', edit_community_accompaniment_leader_activity_accompaniment_report_path(current_community.slug, activity, current_user.accompaniment_report_for(activity)) %>
            <% else %>
              <%= link_to 'Add Accompaniment Leader Notes', new_community_accompaniment_leader_activity_accompaniment_report_path(current_community.slug, activity) %>
            <% end %>
            <div><em><%= volunteers_needed(activity) %></em></div>
            <%= form_for [current_community, accompaniment] do |f| %>
              <%= f.hidden_field :activity_id, value: activity.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <div class='form-inputs'>
                <div class='row form-group'>
                  <%= label_tag :attending, 'Attending', class: 'col-md-2' %>
                  <div class='col-md-2'>
                    <%= select_tag :attending, options_for_select([['Yes', true], ['No', false]]), include_blank: false, class: 'form-control' %>
                  </div>
                </div>
                <div class='row form-group'>
                  <%= f.label :availability_notes, 'Availability Notes', class: 'col-md-12' %>
                  <div class='col-md-12'>
                    <%= f.text_area :availability_notes, {style: 'height: 100px;', class: 'form-control'} %>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-1 col-md-offset-10'>
                    <%= f.submit 'Save', class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

