<div class='row activity-detail' id="activity_<%= activity.id %>">
  <div class='col-md-10 col-sm-8 col-xs-8'>
    <strong>
      <%= "#{activity.event.humanize} for #{activity.friend.name}" %>
      <%= activity.occur_at.strftime("-- %I:%M %p") %>
    </strong><br>
    <% if activity.friend.phone.present? %>
      <strong>Friend Phone Number:  </strong><%= activity.friend.phone %><br>
    <% end %>
    <% if activity.friend.languages.present? %>
      <strong>Friend Languages:  </strong><%= activity.friend.languages.map(&:name).to_sentence %><br>
    <% end %>
    <% if activity.friend.a_number.present? %>
      <strong>A Number:  </strong><%= activity.friend.a_number %><br>
    <% end %>
    <% if activity.location.present? %>
      <strong>Location:  </strong><%= activity.location.name %><br>
    <% end %>
    <% if activity.judge.present? %>
      <strong>Judge:  </strong><%= activity.judge.name %><br>
    <% end %>
    <% if activity.notes.present? %>
      <strong>Notes:  </strong><%= activity.notes %><br>
    <% end %>
    <% if activity.accompaniment_leader_accompaniments.present? %>
      <strong>Accompaniment Leaders:  </strong>
      <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
    <% end %>
    <% if activity.volunteer_accompaniments.present? %>
      <strong>Volunteers:  </strong>
      <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'volunteer' %>
    <% end %>
    <% if activity.accompaniment_reports.present? %>
      <strong>Accompaniment Leader Notes:</strong>
      <ol>
        <% activity.accompaniment_reports.each do |report| %>
          <li><strong>Notes by <%= report.user.name if report.user.present? %>:  </strong><%= report.notes %></li>
        <% end %>
      </ol>
    <% end %>

    <% if current_user.accompaniment_report_for(activity).present? %>
      <%= link_to 'Edit My Accompaniment Leader Notes', edit_community_accompaniment_leader_activity_accompaniment_report_path(current_community.slug, activity, current_user.accompaniment_report_for(activity)) %>
    <% else %>
      <%= link_to 'Add Accompaniment Leader Notes', new_community_accompaniment_leader_activity_accompaniment_report_path(current_community.slug, activity) %>
    <% end %>
  <% if activity.accompaniable? %>
    <div><em><%= activity.volunteers_needed%> </em></div>
  <% end %>
  </div>

  <div class='confirm'>
    <% if current_user.attending?(activity) %>
      <button type='button' class='btn btn-success' data-toggle='modal' data-target="#activity_<%= activity.id %>_accompaniment_modal">Edit RSVP</button>
    <% elsif activity.accompaniable? %>
      <button type='button' class='btn btn-primary' data-toggle='modal' data-target="#activity_<%= activity.id %>_accompaniment_modal">Attend</button>
    <% end %>
  </div>
</div>
<br>
