<ol>
  <% for accompaniment in activity.accompaniments %>
    <li>
      <div>
        <%= accompaniment.user.name %>,
        <i><%= accompaniment.user.phone %>, <%= accompaniment.user.email %>, <%= accompaniment.user.volunteer_type.humanize.titlecase %></i>
        <% if accompaniment.availability_notes.present? %>
          <%= accompaniment.availability_notes %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>