<h1>Accompaniments</h1>

<%= month_calendar events: @upcoming_activities do |date, activities| %>
  <h5><%= date.day %></h5>
  <dl>
  <% activities.each do |activity| %>
      <dt>
        <% if current_user.attending?(activity) %>
          <i class="confirmed fas fa-user-check"></i>
        <% end %>
        <%= activity.occur_at_str %>
      </dt>
      <dd>
        <% location = activity.location.present? ? "at #{activity.location.name}" : '' %>
        <a href="#" data-toggle="modal" data-target="#modal_activity_<%= activity.id %>" style="color: <%= "red" unless activity.accompaniment_leader_accompaniments.present? %>;"><%= "#{activity.activity_type.name.titlecase} for #{activity.friend.first_name} #{location}" %></a>
        <span>
          <%= attending_summary(activity) %>
        </span>
        <%= render partial: 'accompaniment_modal', locals: { activity: activity, accompaniment: Accompaniment.find_or_build(activity, current_user) } %>
      </dd>
  <% end %>
  </dl>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").removeClass("modal-open");
    $(".in").hide();
  });
</script>
