<%= form_for [current_community, :admin, event, FriendEventAttendance.new], remote: true do |f| %>
  <%= f.label :friend_id do %>
    <h3>Friends Attending</h3>
  <% end %>
  <%= f.select(:friend_id, [], {}, { multiple: true, prompt: true, class: 'js-select2 form-control', data: { select2_collection_path: select2_options_community_admin_event_friend_event_attendances_path(current_community.slug, event) } }) %>
<% end %>
<br>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th />
      <th>Name</th>
      <th />
      </tr>
  </thead>
  <tbody>
    <% friend_attendance.each_with_index do |attendance, index| %>
      <tr>
        <td class="event_small_col">
          <div class="event_centered_col">
            <%=h index + 1 %>
          </div>
        </td>
        <td>
          <%= link_to edit_community_admin_friend_path(
            current_community.slug,
            attendance.friend,
            ), target: '_blank', id: "edit-user-#{attendance.friend.id}" do %>
            <% "#{attendance.friend.last_name}, #{attendance.friend.first_name}" %>
          <% end %>
        </td>
        <td class="event_small_col">
          <div class="event_centered_col">
            <%= link_to community_admin_event_friend_event_attendance_path(current_community.slug, event, attendance), method: :delete, remote: true do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    activateSelect2();
    $('#friend_event_attendance_friend_id').change(function() {
      $('#new_friend_event_attendance').submit();
    });
  });
</script>
