<%= form_for [current_community, :admin, event, UserEventAttendance.new], remote: true do |f| %>
  <%= f.label :user_id do %>
    <h3>Volunteers Attending</h3>
  <% end %>

  <%= f.select(:user_id, [], {}, { multiple: true, prompt: true, class: 'js-select2 form-control', data: { select2_collection_path: select2_options_community_admin_event_user_event_attendances_path(current_community.slug, event) } }) %>
<% end %>
<br>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th />
      <th>Name</th>
      <th />
      </tr>
  </thead>
  <tbody>
    <% volunteer_attendance.each_with_index do |attendance, index| %>
      <tr>
        <td class="event_small_col">
          <div class="event_centered_col">
            <%=h index + 1 %>
          </div>
        </td>
        <td>
          <%= link_to edit_community_admin_user_path(
              current_community.slug,
              attendance.user,
            ),
            target: '_blank', id: "edit-user-#{attendance.user.id}" do %>
            <% "#{attendance.user.last_name}, #{attendance.user.first_name}" %>
          <% end %>
        </td>
        <td class="event_small_col">
          <div class="event_centered_col">
            <%= link_to community_admin_event_user_event_attendance_path(
                current_community.slug,
                event,
                attendance,
              ),
              method: :delete,
              remote: true do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    activateSelect2();
    $('#user_event_attendance_user_id').change(function() {
      $('#new_user_event_attendance').submit();
    });
  });
</script>
