<h3>Volunteers Attending</h3>
<%= form_for [:admin, event, UserEventAttendance.new], remote: true do |f| %>
  <%= f.select(:user_id, options_from_collection_for_select(User.all, 'id', 'name', disabled: attending_volunteers.map(&:id)), {include_hidden: false}, {multiple: true, prompt: true, class: 'chzn-select form-control'}) %>
<% end %>
<br>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th style="max-width: 25px;">Remove</th>
      </tr>
  </thead>
  <tbody>
    <% volunteer_attendance.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td>
          <%= link_to admin_event_user_event_attendance_path(event, attendance), method: :delete, remote: true do %>
            <%= fa_icon 'times' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    activateChosen();
    $('#user_event_attendance_user_id').change(function() {
      $('#new_user_event_attendance').submit();
    });
  });
</script>