<h3>Team TO DO</h3>
<p><%= friend.intake_notes %></p>

<h3>Basic</h3>

<p><strong>ID: </strong><%= friend.id %></p>
<p><strong>Record Digitized:  </strong><%= friend.digitized ? 'Yes' : 'No' %></p>
<p><strong>First Name:  </strong><%= friend.first_name %></p>
<p><strong>Middle Name:  </strong><%= friend.middle_name %></p>
<p><strong>Last Name:  </strong><%= friend.last_name %></p>
<p><strong>A Number:  </strong><%= friend.a_number %></p>
<p><strong>Phone:  </strong><%= friend.phone %></p>
<p><strong>Email:  </strong><%= friend.email %></p>
<p><strong>EOIR Case Status: </strong><%= friend.eoir_case_status %>
<p><strong>Gender:  </strong><%= friend.gender.try(:humanize) %></p>
<p><strong>Ethnicity:  </strong><%= friend.ethnicity.try(:humanize) %></p>
<p><strong>Languages:  </strong><%= friend.languages.pluck(:name).to_sentence %></p>
<p><strong>Country of Origin:  </strong><%= Country.find(friend.country_id).name if friend.country_id.present? %></p>
<p><strong>Zip Code: </strong><%= friend.zip_code if friend.zip_code.present? %></p>
<p><strong>City: </strong><%= friend.city %></p>
<p><strong>State: </strong><%= friend.state if friend.state.present? %></p>
<p><strong>Date of Birth:  </strong><%= friend.date_of_birth.strftime('%m/%d/%y') if friend.date_of_birth.present? %></p>
<p><strong>Status:  </strong><%= friend.status.try(:humanize) %></p>
<p><strong>Date of Entry:  </strong><%= friend.date_of_entry.strftime('%m/%d/%y') if friend.date_of_entry.present? %></p>

<h3>Family</h3>

<% friend.family_relationships.order(:relationship_type).each do |family_relationship| %>
  <p>
    <strong><%= family_relationship.relationship_type.titlecase %>:  </strong>
    <%= family_relationship.relation.name %>
  </p>
<% end %>

<% if friend.activities.present? %>
  <h3>Activities</h3>
  <% friend.activities.order('occur_at desc').each do |activity| %>
    <p>
      <strong>What:  </strong><%= activity.activity_type.name.titlecase %><br>
      <strong>When:  </strong><%= activity.occur_at_str %><br>
      <strong>Where:  </strong><%= activity.location.name  if activity.location.present? %><br>
    </p>
  <% end %>
<% end %>

<h3>Asylum</h3>
<p><strong>Status:  </strong><%= friend.asylum_status.try(:humanize) %></p>
<p><strong>Date Submitted:  </strong><%= friend.date_asylum_application_submitted.strftime('%m/%d/%y') if friend.date_asylum_application_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.asylum_notes %></p>

<h3>SIJS</h3>
<p><strong>Status:  </strong><%= friend.sijs_status.try(:humanize) %></p>
<p><strong>SIJS Lawyer:  </strong><%= Lawyer.find(friend.sijs_lawyer).name if friend.sijs_lawyer.present? %></p>
<p><strong>Date Submitted:  </strong><%= friend.date_sijs_submitted.strftime('%m/%d/%y') if friend.date_sijs_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.sijs_notes %></p>

<h3>Work Authorization</h3>
<p><strong>Status:  </strong><%= friend.work_authorization_status.try(:humanize) %></p>
<p><strong>Date Eligible to Apply:  </strong><%= friend.date_eligible_to_apply_for_work_authorization.strftime('%m/%d/%y') if friend.date_eligible_to_apply_for_work_authorization.present? %></p>
<p><strong>Date Submitted:  </strong><%= friend.date_work_authorization_submitted.strftime('%m/%d/%y') if friend.date_work_authorization_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.work_authorization_notes %></p>

<h3>FOIA Request</h3>
<p><strong>Date Submitted:  </strong><%= friend.date_foia_request_submitted.strftime('%m/%d/%y') if friend.date_foia_request_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.foia_request_notes %></p>

<h3>Social Work</h3>
<p><strong>Notes:</strong> <%= friend.social_work_referral_notes %></p>

<h3>Detention</h3>
<p><strong>Jail ID:  </strong><%= friend.jail_id %></p>
<p><strong>Has a Lawyer for Detention?  </strong><%= 'Yes' if friend.has_a_lawyer_for_detention %></p>
<p><strong>Final Order of Removal?  </strong><%= 'Yes' if friend.final_order_of_removal %></p>
<p><strong>Criminal Conviction?  </strong><%= 'Yes' if friend.criminal_conviction %></p>
<p><strong>Criminal Conviction Notes:  </strong><%= friend.criminal_conviction_notes %></p>

<% if friend.detentions.present? %>
  <h3>Detention History</h3>
  <% friend.detentions.each do |detention| %>
    <p>
      <strong>Date Detained:  </strong><%= detention.date_detained.strftime('%m/%d/%Y') if detention.date_detained.present? %><br>
      <strong>Date Released:  </strong><%= detention.date_released.strftime('%m/%d/%Y') if detention.date_released.present? %><br>
      <strong>Location Detained:  </strong><%=  detention.location.name if detention.location.present? %><br>
      <strong>Case Status:  </strong><%=  detention.display_case_status %><br>
      <strong>Notes:  </strong><%=  detention.notes if detention.notes.present? %><br>
    </p>
  <% end %>
<% end %>

<h3>Lawyer</h3>
<p><strong>Lawyer Referred to:  </strong><%= Lawyer.find(friend.lawyer_referred_to).name if friend.lawyer_referred_to.present? %></p>
<p><strong>Lawyer Represented by:  </strong><%= Lawyer.find(friend.lawyer_represented_by).name if friend.lawyer_represented_by.present? %></p>
<p><strong>Notes:  </strong><%= friend.lawyer_notes %></p>

<h3>Bond</h3>
<p><strong>Bonded Out by NSC:  </strong><%= friend.bonded_out_by_nsc ? 'Yes' : 'No' %></p>
<p><strong>Bond Amount:  </strong><%= friend.bond_amount %></p>
<p><strong>Date Bonded Out:  </strong><%= friend.date_bonded_out.strftime('%m/%d/%y') if friend.date_bonded_out.present? %></p>
<p><strong>Bonded Out By:  </strong><%= Sanctuary.find(friend.bonded_out_by).name if friend.bonded_out_by.present? %></p>
<br>

<h3>Potential Sponsor</h3>
<p><strong>Sponsor Name: </strong><%= friend.sponsor_name %></p>
<p><strong>Sponsor Phone Number: </strong><%= friend.sponsor_phone_number %></p>
<p><strong>Sponsor Relationship: </strong><%= friend.sponsor_relationship %></p>
