<h2>SIJS</h2>

<p><strong>Status:  </strong><%= friend.sijs_status.try(:humanize) %></p>
<p><strong>SIJS Lawyer:  </strong><%= Lawyer.find(friend.sijs_lawyer).name if friend.sijs_lawyer.present? %></p>
<p><strong>Date Submitted:  </strong><%= friend.date_sijs_submitted.strftime('%m/%d/%y') if friend.date_sijs_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.sijs_notes %></p>

<div class='col-md-12'>
  <div id='sijs-application-draft-list' >
    <%= render partial: 'sijs_application_drafts/list', locals: { friend: friend} %>
  </div>
</div>