<%= form_for :remote_lawyer, url: regional_admin_remote_lawyer_path, method: :put, html: { class: 'form-horizontal' } do |f| %>

  <%= display_validation_errors(@remote_lawyer) %>

  <div class='form-inputs'>
    <div class='form-group'>
      <%= f.label :first_name, 'First Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :last_name, 'Last Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :email, class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :phone, class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :role, class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.select :role, User::NON_PRIMARY_ROLES + [['Remote Clinic Lawyer', 'remote_clinic_lawyer']], {}, {class: 'form-control input-md'} %>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :pledge_signed, id: 'pledge-check' %>
        <label>
          Signed Pledge
        </label>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :signed_guidelines, id: 'signed-check' %>
        <label>
          Signed Guidelines
        </label>
      </div>
    </div>

    <% if @remote_lawyer.remote_clinic_friends.present? %>
      <div class="form-group">
        <%= fields_for @remote_lawyer.user_friend_associations do |fl| %>
          <%= f.label 'Assigned Friends', class: 'col-md-2 control-label' %>
          <div class='col-md-6'>
            <%= collection_select(:remote_lawyer, :friend_ids, Friend.with_active_applications, :id, :name, {selected: @remote_lawyer.remote_clinic_friends.pluck(:id)}, {multiple: true, prompt: true, class: 'js-select2 form-control'}) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='row'>
    <div class='col-md-1 col-md-offset-7'>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
