<h2><%= I18n.t('devise.authy_verify_installation_title') %></h2>

<% if @authy_qr_code %>
  <%= image_tag @authy_qr_code, :size => '256x256', :alt => I18n.t('devise.authy_qr_code_alt') %>
  <p><%= I18n.t('devise.authy_qr_code_instructions') %></p>
<% end %>

<%= verify_authy_installation_form do %>
  <legend><%= I18n.t('devise.submit_token_title') %></legend>
  <%= label_tag :token %>
  <%= text_field_tag :token, "", :autocomplete => "one-time-code", :inputmode => "numeric", :pattern => "[0-9]*", :id => 'authy-token' %>
  <label>
    <%= check_box_tag :remember_device %>
    <span>Remember this device for 1 week</span>
  </label>
  <%= authy_request_sms_link %>
  <%= submit_tag I18n.t('devise.enable_my_account'), :class => 'btn' %>
<% end %>