<% if family_member_constructor.errors.present? %>
  <%= display_validation_errors(family_member_constructor) %>
<% end %>
<%= form_for([:admin, friend, family_member_constructor], url: admin_friend_family_members_path(friend), action: :post, remote: true) do |f| %>
  <div class='form-inputs'>
    <div class='row form-group'>
      <%= f.label :relationship, class: 'col-md-12 control-label' %>
      <div class='col-md-12'>
        <%= f.select :relationship, options_for_select(FamilyMemberConstructor::RELATIONSHIPS), {include_blank: true}, {class: 'form-control'} %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :relation_id, 'Friend', class: 'col-md-12 control-label' %>
      <div class='col-md-12'>
        <%= collection_select(:family_member_constructor, :relation_id, Friend.all, :id, :name, {prompt: true}, {class: 'chzn-select form-control'}) %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-10'>
        <%= f.submit 'Add', :class => 'btn btn-primary', id: 'add-family-link' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    activateChosen();
  });
</script>