<% if friend.spouses.present? || friend.inverse_spouses.present? %>
  <h4>Spouse</h4>
  <% friend.spousal_relationships.each do |spousal_relationship| %>
    <p>
      <%= link_to spousal_relationship.spouse.name, edit_admin_friend_path(spousal_relationship.spouse), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, spousal_relationship, type: 'spousal'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>

  <% friend.inverse_spousal_relationships.each do |inverse_spousal_relationship| %>
    <p>
      <%= link_to inverse_spousal_relationship.friend.name, edit_admin_friend_path(inverse_spousal_relationship.friend), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, inverse_spousal_relationship, type: 'spousal'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>
<% end %>

<% if friend.partners.present? || friend.inverse_partners.present? %>
  <h4>Partner</h4>
  <% friend.partner_relationships.each do |partner_relationship| %>
    <p>
      <%= link_to partner_relationship.partner.name, edit_admin_friend_path(partner_relationship.partner), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, partner_relationship, type: 'partner'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>

  <% friend.inverse_partner_relationships.each do |inverse_partner_relationship| %>
    <p>
      <%= link_to inverse_partner_relationship.friend.name, edit_admin_friend_path(inverse_partner_relationship.friend), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, inverse_partner_relationship, type: 'partner'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>
<% end %>

<% if friend.siblings.present? || friend.inverse_siblings.present? %>
  <h4>Siblings</h4>
  <% friend.sibling_relationships.each do |sibling_relationship| %>
    <p>
      <%= link_to sibling_relationship.sibling.name, edit_admin_friend_path(sibling_relationship.sibling), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, sibling_relationship, type: 'sibling'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>

  <% friend.inverse_sibling_relationships.each do |inverse_sibling_relationship| %>
    <p>
      <%= link_to inverse_sibling_relationship.friend.name, edit_admin_friend_path(inverse_sibling_relationship.friend), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, inverse_sibling_relationship, type: 'sibling'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>
<% end %>

<% if friend.parents.present? %>
  </br>
  <h4>Parents</h4>
  <% friend.parent_relationships.each do |parent_relationship| %>
    <p>
      <%= link_to parent_relationship.parent.name, edit_admin_friend_path( parent_relationship.parent), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, parent_relationship, type: 'parent_child'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>
<% end %>

<% if friend.children.present? %>
  </br>
  <h4>Children</h4>
  <% friend.child_relationships.each do |child_relationship| %>
    <p>
      <%= link_to child_relationship.child.name, edit_admin_friend_path(child_relationship.child), target: '_blank' %>
      <%= link_to 'Remove', admin_friend_family_member_path(friend, child_relationship, type: 'parent_child'), method: :delete, :remote => true, class: 'delete' %>
    </p>
  <% end %>
<% end %>
