<% if asylum_application_draft.errors.present? %>
  <%= display_validation_errors(asylum_application_draft) %>
<% end %>
<%= form_for([@friend, asylum_application_draft], remote: true) do |f| %>
  <div class='form-inputs'>
    
    <div class='row form-group'>
      <%= f.label :pdf_draft, 'File Upload', class: 'col-md-12 control-label required' %>
      <div class='col-md-12'>
        <%= f.file_field :pdf_draft, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :users, 'Volunteers', class: 'col-md-12 control-label' %>
      <div class='col-md-12'>
        <%= collection_select(:asylum_application_draft, :user_ids, User.all, :id, :name, {include_hidden: false}, {multiple: true, prompt: true, class: 'chzn-select form-control'}) %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :notes, class: 'col-md-12 control-label' %>
      <div class='col-md-12'>
        <%= f.text_area :notes, {class: 'form-control', style: 'height: 200px;'} %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-10'>
        <%= f.submit 'Save', :class => 'btn btn-primary', id: 'add-asylum-application-draft-link' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    activateChosen();
  });
</script>