<nav class='navbar navbar-default'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
      <span class='sr-only'>Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class='navbar-brand'>
      <%= link_to 'New Sanctuary Coalition', current_user.present? ? root_path : unauthenticated_root_path %>
      <% if current_user&.regional_admin? && current_region %>
        > <%= current_region.name.upcase %>
        <% if current_community %>
          > <%= current_community.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class='nav navbar-nav navbar-right' style='margin-right:10px;'>
      <% if current_user %>
        <% if current_user.regional_admin? %>
          <li class='dropdown regional_admin'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Regional Management<span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <% current_user.regions.each do |region| %>
                <li><%= link_to "#{region.name.upcase} Communities", regional_admin_region_communities_path(region) %></li>
                <% region.communities.each do |community| %>
                  <li><%= link_to safe_join([community.name], ' '), community_admin_path(community.slug), class: 'region_community' %></li>
                <% end %>
                <li><%= link_to "#{region.name.upcase} Remote Clinic", regional_admin_region_remote_review_actions_path(region) %></li>
                <li role='separator' class='divider'></li>
              <% end %>
              <li><%= link_to 'Manage Remote Lawyers', regional_admin_remote_lawyers_path %></li>
            </ul>
          </li>
        <% end %>
        <% if (current_user.admin? || current_user.has_active_data_entry_access_time_slot?) && !controller.controller_path.include?('regional_admin') %>
          <% if current_community.primary?  %>
            <%= render 'shared/primary_community_admin_navigation' %>
          <% else %>
            <%= render 'shared/non_primary_community_admin_navigation' %>
          <% end %>
        <% else %>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><%= current_user.name %><span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'Edit My Info', edit_community_user_path(current_community.slug, current_user) %></li>
            </ul>
          </li>
        <% end %>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
