<div class='row' style='margin-left:5px;'>
  <div class='col-md-9'>
    <strong>
      <%= link_to "#{activity.activity_type.name.titlecase}", edit_community_admin_friend_activity_path(current_community.slug, friend, activity), remote: true, class: 'open_activity_modal' %>
      <%= activity.occur_at.strftime("-- %I:%M %p, %A, %B %-d, %Y") %>
    </strong><br>
    <% if activity.location.present? %>
      <strong>Location:  </strong><%= activity.location.name %><br>
    <% end %>
    <% if activity.judge.present? %>
      <strong>Judge:  </strong><%= activity.judge.name %><br>
    <% end %>
    <% if activity.notes.present? %>
      <strong>Notes:  </strong><%= activity.notes %><br>
    <% end %>
    <% if activity.public_notes.present? %>
      <strong>Public Notes:  </strong><%= activity.public_notes %><br>
    <% end %>
    <% if activity.accompaniment_leader_accompaniments.present? %>
      <strong>Accompaniment Leaders:  </strong>
      <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
    <% end %>
    <% if activity.volunteer_accompaniments.present? %>
      <strong>Volunteers:  </strong>
      <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'volunteer' %>
    <% end %>
    <% if activity.accompaniment_reports.present? %>
      <% activity.accompaniment_reports.each do |report| %>
          <hr></hr>
          <strong>Report Back by: </strong><%= report.user.name if report.user.present? %>
          <div><strong>Outcome of hearing: </strong><%= report.outcome_of_hearing %></div>
          <strong>Notes: </strong><%= report.notes %>
          <br>
      <% end %>
    <% end %>
    <% if current_user.id.present? %>
        <strong>Last Edited By:  </strong><%= "#{current_user.first_name} #{current_user.last_name}" %><br>
      <% end %>
    <strong>
      <%= link_to 'Remove', community_admin_friend_activity_path(current_community.slug, friend, activity), method: :delete, data: { confirm: 'Are you sure you want to remove this activity?' }, remote: true, style: 'color: #b30000 !important; font-style: italic;' %>
    </strong>
  </div>
  <div class='col-md-3'>
    <strong>
      <% if activity.accompaniment_eligible? %>
        <div style='float: right;'>
          <% if activity.confirmed? %>
            <%= link_to 'Unconfirm', unconfirm_community_admin_friend_activity_path(current_community.slug, friend, activity), method: :patch, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Confirm', confirm_community_admin_friend_activity_path(current_community.slug, friend, activity), method: :patch, class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </strong>
  </div>
</div>
<br>
<br>

