<%= form_for [current_community, :admin, @lawyer] do |f| %>

  <%= display_validation_errors(@lawyer) %>

  <div class='form-inputs'>
    <div class='row form-group'>
      <%= f.label :first_name, 'First Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :last_name, 'Last Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :phone_number, 'Phone', class: 'col-md-2 control-label' %>
      <div class='col-md-6'>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :email, 'Email', class: 'col-md-2 control-label' %>
      <div class='col-md-6'>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :organization, 'Organization', class: 'col-md-2 control-label' %>
      <div class='col-md-6'>
        <%= f.text_field :organization, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-1 col-md-offset-7'>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>