<div class="row">
  <%= link_to "Add a new lawyer", new_admin_lawyer_path, class: 'btn btn-primary pull-right' %>
  </div>
<div class="row">  
  <h1>Lawyers</h1>
</div>
  
<div class="row">
  <div class="col-sm-12 col-md-10">
    <% if @lawyers.present? %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
            <th style="max-width: 25px;">Remove</th>
            </tr>
        </thead>
        <tbody>
          <% @lawyers.each do |lawyer| %>
            <tr>
              <td><%= link_to lawyer.name, edit_admin_lawyer_path(lawyer) %></td>
              <td>
                <%= form_for [:admin, lawyer], method: :delete do |f| %>
                  <%= fa_icon 'times', :onclick => "submitDeleteForm(this)", :style => 'cursor: pointer;' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class='pull-right'>
        <%= will_paginate @lawyers %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var submitDeleteForm = function (element)  {
    if (confirm('Are you sure?')) {
      $(element).parents('form').submit();
    }
  }
</script>
