<div class="row">
  <%= link_to "Add a new external lawyer", new_community_admin_lawyer_path(current_community.slug), class: 'btn btn-primary pull-right' %>
  </div>
<div class="row">
  <h1>External Lawyers</h1>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <% if @lawyers.present? %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Phone</th>
            <th>Email</th>
            </tr>
        </thead>
        <tbody>
          <% @lawyers.each do |lawyer| %>
            <tr>
              <td><%= link_to "#{lawyer.last_name}, #{lawyer.first_name}", edit_community_admin_lawyer_path(current_community.slug, lawyer) %></td>
              <td><%= lawyer.organization %></td>
              <td><%= lawyer.phone_number %></td>
              <td><%= lawyer.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class='pull-right'>
        <%= will_paginate @lawyers %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var submitDeleteForm = function (element)  {
    if (confirm('Are you sure?')) {
      $(element).parents('form').submit();
    }
  }
</script>
