<%= form_for [:admin, @judge] do |f| %>
  
  <%= display_validation_errors(@judge) %>

  <div class='form-inputs'>
    <div class='row form-group'>
      <%= f.label :first_name, 'First Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <%= f.label :last_name, 'Last Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

  <div class='row'>
    <div class='col-md-1 col-md-offset-7'>
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>