<div class="row">
    <div class="col-sm-8 col-sm-offset-4">
	<%= form_for [:admin, @judge] do |f| %>
	    <%= f.label :first_name %>:
	    <%= f.text_field :first_name, required: true %><br />

	    <%= f.label :last_name %>:
	    <%= f.text_field :last_name, required: true %><br />

	    <%= f.submit 'Update Judge', class: 'btn btn-primary' %>
	<% end %>
    </div>
</div>
