<div class='col-md-offset-3'>
  <h2><%= t 'devise.invitations.edit.header' %></h2>
  <%= form_for resource, as: resource_name, url: user_community_invitation_path(resource.community.slug), html: { method: :put } do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :invitation_token %>

    <div class='form-inputs'>
      <div class='row form-group'>
        <%= f.label :first_name, 'First Name', class: 'col-md-2 control-label required' %>
        <div class='col-md-6'>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>

      <div class='row form-group'>
        <%= f.label :last_name, 'Last Name', class: 'col-md-2 control-label required' %>
        <div class='col-md-6'>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <%= f.label :phone, class: 'col-md-2 control-label required'%>
        <div class='col-md-6'>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
      </div>

      <div class='row form-group'>
        <%= fields_for(@user.languages.build) do |fl| %>
          <%= fl.label :languages,'Languages', class: 'col-md-2 control-label' %>
          <div class='col-md-6'>
            <%= collection_select(:user, :language_ids, Language.all, :id, :name, {}, {multiple: true, prompt: true, class: 'js-select2 form-control'}) %>
          </div>
        <% end %>
      </div>

      <div class="row form-group">
        <%= f.label :password, class: 'col-md-2 control-label required' %>
        <div class='col-md-6'>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <%= f.label :password_confirmation, 'Password Confirmation', class: 'col-md-2 control-label' %>
        <div class='col-md-6'>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class='row form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :pledge_signed %>
        <%= f.label :pledge_signed do %>
          I agree to the <%= link_to 'New Sanctuary Coalition Pledge', pledge_path, target: 'blank' %>.
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-7'>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
