<div class='col-md-offset-3 col-md-6'>
  <h2>Send Invitation</h2>

  <%= form_for resource, as: resource_name, url: user_community_invitation_path(current_community, resource_name), html: {method: :post} do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div class='form-inputs'>
    <% resource.class.invite_key_fields.each do |field| %>
      <div class='form-group field'>
        <%= f.label field %> </ br>
        <%= f.text_field field, class: 'form-control' %>
      </div>
    <% end -%>
    <% if current_user.regional_admin? %>
      <div class='form-check'>
        <%= check_box_tag :remote_clinic_lawyer, true, false, { class: 'form-check-input' } %>
        <%= label_tag :remote_clinic_lawyer, "Remote Clinic Lawyer?", { class: 'form-check-label' } %>
      </div>
    <% end %>
    <%= f.hidden_field :community_id, value: current_community.id %>
    <p><%= f.submit t('devise.invitations.new.submit_button'), class: 'btn btn-primary' %></p>
  <% end %>
</div>
