<div class='row'>
  <div class='col-md-10'>
    <div id="activity_<%=activity.id%>" style='margin-left:5px;'>
      <strong>
        <%= link_to "#{activity.event.humanize} for #{friend.name}", edit_community_admin_activity_path(current_community.slug, activity) %>
        <%= activity.occur_at.strftime("-- %I:%M %p") %>
      </strong><br>
      <% if activity.friend.phone.present? %>
        <strong>Friend Phone Number:  </strong><%= activity.friend.phone %><br>
      <% end %>
      <% if activity.friend.languages.present? %>
        <strong>Friend Languages:  </strong><%= activity.friend.languages.map(&:name).to_sentence %><br>
      <% end %>
      <% if activity.friend.a_number.present? %>
          <strong>A Number:  </strong><%= activity.friend.a_number %><br>
        <% end %>
      <% if activity.location.present? %>
        <strong>Location:  </strong><%= activity.location.name %><br>
      <% end %>
      <% if activity.judge.present? %>
        <strong>Judge:  </strong><%= activity.judge.name %><br>
      <% end %>
      <% if activity.notes.present? %>
        <strong>Notes:  </strong><%= activity.notes %><br>
      <% end %>
      <% if activity.accompaniment_leader_accompaniments.present? %>
        <strong>Accompaniment Leaders:  </strong>
        <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
      <% end %>
      <% if activity.volunteer_accompaniments.present? %>
        <strong>Volunteers:  </strong>
        <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'volunteer' %>
      <% end %>
      <% if activity.accompaniment_reports.present? %>
        <% activity.accompaniment_reports.each do |report| %>
          <strong>Accompaniment Leader Notes <%= "by #{report.user.name}" if report.user.present? %>:</strong>
          <%= report.notes %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='col-md-2'>
    <% if activity.accompaniment_eligible? %>
      <% if activity.confirmed? %>
        <strong>Confirmed by Admin</strong>
      <% else %>
        <%= button_to 'Confirm', confirm_community_admin_activity_path(current_community.slug, activity), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

