<div>
  <p>
    <%= link_to activity.event.humanize, edit_admin_friend_activity_path(friend, activity), remote: true, class: 'open_activity_edit_modal' %>
    <%= activity.occured_at.strftime("-- %A, %B %-d, %Y") %>
    <%= link_to 'Remove', admin_friend_activity_path(friend, activity), method: :delete, :remote => true, class: 'delete' %>
  </p>
  <% if activity.location.present? %>
    <p><strong>Location:  </strong><%= activity.location.name %></p>
  <% end %>
  <% if activity.judge.present? %>
    <p><strong>Judge:  </strong><%= activity.judge.name %></p>
  <% end %>
  <% if activity.notes.present? %>
    <p><strong>Notes:  </strong><%= draft.notes %></p>
  <% end %> 
</div>
<br>