<%= link_to '+ Add Activity', new_community_admin_activity_path(current_community.slug), class: 'btn btn-primary pull-right', id: "add_activity" %>
<h1>Accompaniments</h1>

<%= month_calendar events: @activities do |date, activities| %>
  <h5><%= date.day %></h5>
  <dl>
  <% activities.each do |activity| %>
      <dt>
        <% if activity.confirmed? %>
          <span class="confirmed">&#10003;</span>
        <% end %>
        <% if activity.accompaniment_leader_accompaniments.present? %>
          <i class="fa fa-user" aria-hidden="true" title="Accompaniment leader attending"></i>
        <% end %>
        <%= activity.occur_at.strftime("%I:%M %p") %>
      </dt>
      <dd>
        <a href="#" data-toggle="modal" data-target="#modal_activity_<%= activity.id %>"><%= "#{activity.event.humanize} for #{activity.friend.name}" %></a>
         <div id="modal_activity_<%= activity.id %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><span><%= activity.occur_at.strftime("%I:%M %p") %></span><%= "#{activity.event.humanize} for #{activity.friend.name}" %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <%= render partial: 'activity', locals: {activity: activity, friend: activity.friend} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dd>
  <% end %>
  </dl>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").removeClass("modal-open");
    $(".in").hide();
  });
</script>