<p><%= link_to 'Add Activity', new_community_admin_activity_path(current_community.slug), class: 'btn btn-primary pull-right' %></p>
<h1>Activities</h1>

<%= month_calendar events: @all do |date, activities| %>
  <h5><%= date.day %></h5>
  <dl>
  <% activities.each do |activity| %>
      <dt><%= activity.occur_at.strftime("%I:%M %p") %></dt> <dd><a href="#" data-toggle="modal" data-target="#activity_<%= activity.id %>"><%= "#{activity.event.humanize} for #{activity.friend.name}" %></a></dd>
  <% end %>
  </dl>
<% end %>
