<%= link_to 'Add Activity/Accompaniment', new_community_admin_activity_path(current_community.slug), class: 'btn btn-primary pull-right', id: "add_activity" %>
<h1>Activities</h1>

<%= month_calendar events: @activities do |date, activities| %>
  <h5><%= date.day %></h5>
  <dl>
  <% activities.each do |activity| %>
      <dt><%= activity.occur_at.strftime("%I:%M %p") %></dt>
      <dd>
        <%= link_to '#', data: { toggle: 'modal', target: "#modal_activity_#{ activity.id }"}, class: accompaniment_activity_classes(activity) do %>
          <%= activity.activity_type.name.titlecase %> for <%= activity.friend.name %>
        <% end %>
        <%= " (#{activity.friend.community.name.upcase})" if !activity.friend.community.primary? %>
        <div id="modal_activity_<%= activity.id %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">
                  <span><%= activity.occur_at.strftime("%I:%M %p") %></span>
                  <%= activity.activity_type.name.titlecase %>
                  for
                  <%= link_to activity.friend.name, edit_community_admin_friend_path(activity.friend.community.slug, activity.friend) %>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <%= render partial: 'activity', locals: {activity: activity, friend: activity.friend} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dd>
  <% end %>
  </dl>
<% end %>

<h3>Color Code</h3>
<%= color_code %>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").removeClass("modal-open");
    $(".in").hide();
  });
</script>
