<p><%= link_to 'Add Activity', new_community_admin_activity_path(current_community.slug), class: 'btn btn-primary pull-right' %></p>
<h1>Last Month Activities</h1>

<p><%= link_to 'View Current Month Activities', community_admin_activities_path(current_community.slug) %></p>

<div class="calendar-list">
  <% group_activities_by_week(@activities).each do |week, week_activities| %>
    <h2><%= print_week_start_end_dates(week) %></h2>
    <% group_activities_by_day(week_activities).each do |day, activities| %>
      <h4><%= day.strftime('%A, %B %-d') %></h4>
      <% activities.each do |activity| %>
        <div id="activity_<%= activity.id %>" class="activity-detail">
          <%= render partial: 'activity', locals: {activity: activity, friend: activity.friend} %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>