<%= link_to 'Create Document', new_community_friend_application_draft_path(current_community.slug, friend), class: 'pull-right btn btn-primary' %>
<br>
<%if friend.application_drafts.any? %>
  <% friend.grouped_application_drafts.each do |group| %>
    <h3><%= group[:name].titlecase %></h3>
    <% group[:drafts].each do |application_draft| %>
      <div>
        <p>
          <%= link_to application_draft.pdf_draft.file.filename, application_draft.pdf_draft_url, target: '_blank' %>
          <%= application_draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>

          <% if application_draft.users.present? %>
            <strong>Team:  </strong><%= application_draft.users.map(&:name).to_sentence %><br>
          <% end %>

          <% if application_draft.notes.present? %>
            <strong>Notes:  </strong><%= application_draft.notes %><br>
          <% end %>

          <%= link_to 'Edit', edit_community_friend_application_draft_path(current_community.slug, friend, application_draft) %>
          <% if current_user.admin? %>
            <%= link_to 'Delete', community_friend_application_draft_path(current_community.slug, friend, application_draft), method: :delete, confirm: true, class: 'delete' %><br>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
<%else%>
<p>There are no files associated with this user.</p>
<%end%>
