<div id='access_time_slot_<%= access_time_slot.try(:id) %>_form'>
  <% if access_time_slot.errors.present? %>
    <%= display_validation_errors(access_time_slot) %>
  <% end %>
  <%= form_for [current_community, :admin, access_time_slot] do |f| %>
    <%= hidden_field_tag :type, @access_time_slot_type %>
    <div class='form-inputs'>
      <div class='row form-group'>
        <%= f.label :grantee_id, "#{@access_time_slot_type.titlecase} Users", class: 'col-md-2 control-label' %>
        <div class='col-md-4'>
          <%= collection_select(:access_time_slot, :grantee_id, current_community.users.where(role: [@access_time_slot_type.to_sym]), :id, :name, {selected: access_time_slot.grantee_id, prompt: true}, {class: 'js-select2 form-control'}) %>
        </div>
      </div>
      <%= f.hidden_field :grantor_id, value: current_user.id %>

      <% if @access_time_slot_type == 'data_entry' %>
        <div class='row form-group'>
          <%= f.label :use, 'Use', class: 'col-md-2 col-xs-12 control-label' %>
          <div class='col-md-4'>
            <%= f.select(:use, AccessTimeSlot::DATA_ENTRY_USES.map { |use| [use.humanize, use] }, {prompt: true}, class: 'form-control') %>
          </div>
        </div>
      <% elsif @access_time_slot_type == 'eoir_caller' %>
        <%= f.hidden_field :use, value: @access_time_slot_type %>
      <% end %>

      <div class='row form-group'>
        <%= f.label :start_time, 'Start', class: 'col-md-2 control-label' %>
        <div class='col-md-3 date-picker-wrapper'>
          <% start_date = access_time_slot.start_time ? access_time_slot.start_time.to_date : Date.today %>
          <%= text_field_tag :start_date, start_date, class: 'form-control datepicker' %>
          <%= f.hidden_field 'start_time(1i)', value: start_date.strftime('%Y'), class: 'year' %>
          <%= f.hidden_field 'start_time(2i)', value: start_date.strftime('%m'), class: 'month' %>
          <%= f.hidden_field 'start_time(3i)', value: start_date.strftime('%d'), class: 'date' %>
        </div>

        <div class='col-md-6'>
          <%= f.time_select :start_time, { ignore_date: true, prompt: true, minute_step: 15, ampm: true }, {class: 'form-control inline-date-select'} %>
          <span>ET
        </div>
      </div>

      <div class='row form-group'>
        <%= f.label :end_time, 'End', class: 'col-md-2 control-label' %>
        <div class='col-md-3 date-picker-wrapper'>
          <% end_date = access_time_slot.end_time ? access_time_slot.end_time.to_date : Date.today %>
          <%= text_field_tag :end_date, end_date, class: 'form-control datepicker' %>
          <%= f.hidden_field 'end_time(1i)', value: end_date.strftime('%Y'), class: 'year' %>
          <%= f.hidden_field 'end_time(2i)', value: end_date.strftime('%m'), class: 'month' %>
          <%= f.hidden_field 'end_time(3i)', value: end_date.strftime('%d'), class: 'date' %>
        </div>

        <div class='col-md-6'>
          <%= f.time_select :end_time, { ignore_date: true, prompt: true, minute_step: 15, ampm: true }, {class: 'form-control inline-date-select'} %>
          <span>ET
        </div>
      </div>

      <% if access_time_slot.persisted? %>
        <div class='row form-group'>
          <%= f.label :grantor_id, 'Created by', class: 'col-md-2 control-label' %>
          <div class='col-md-4'>
            <%= access_time_slot.grantor.try(:name) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-8'>
        <%= f.submit 'Save', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').change(function() {
      var dateArray = this.value.split('/')
      $(this).siblings('.month').val(dateArray[0]);
      $(this).siblings('.date').val(dateArray[1]);
      $(this).siblings('.year').val(dateArray[2]);
    });
  });
</script>
