<%= link_to "Add a new Access Time Slot", new_community_admin_access_time_slot_path(current_community.slug), class: 'btn btn-primary pull-right' %>
  </div>

<h1>Access Time Slots</h1>

<%= month_calendar events: @access_time_slots do |date, access_time_slots| %>
  <h5><%= date.day %></h5>
  <dl>
  <% access_time_slots.each do |access_time_slot| %>
      <dt>
        <%= "#{access_time_slot.start_time.strftime("%I:%M %p")} -- #{access_time_slot.end_time.strftime("%I:%M %p")}" %>
      </dt>
      <dd>
        <a href="#" data-toggle="modal" data-target="#modal_access_time_slot_<%= access_time_slot.id %>"><%= "#{access_time_slot.grantee.name} (#{access_time_slot.use.humanize})" %></a>
        <%= render partial: 'edit_modal', locals: { access_time_slot: access_time_slot } %>
      </dd>
  <% end %>
  </dl>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").removeClass("modal-open");
    $(".in").hide();
  });
</script>