<div class='row'><%= link_to "Back to #{@friend.region.name.upcase} Remote Review Action Log", regional_admin_region_remote_review_actions_path(@friend.region) %></div>

<h1><%= link_to @friend.name, edit_community_admin_friend_path(@friend.community.slug, @friend) %></h1>

<%= render 'remote_clinic/friends/drafts_review_dashboard', is_admin: true, friend: @friend %>

<h3>Assigned Lawyers</h3>
<div class='row form-group'>
  <%= form_for [:regional_admin, current_region, @friend] do |f| %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :remote_clinic_lawyer_user_ids, User.confirmed.remote_clinic_lawyer, :id, :name, {selected: @friend.remote_clinic_lawyers.pluck(:id)}, {multiple: true, prompt: true, class: 'js-select2 form-control'}) %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
