<h1><%= @friend.name %></h1>

<% @friend.grouped_drafts.each do |group| %>
  <h2 style='display: inline;'>
    <%= group[:name].titlecase %>
  </h2>

  <div class='row'>
    <h3>
        <div class='col-md-2'>
            Status
        </div>
        <div class='col-md-4'>
            Document
        </div>
        <div class='col-md-4'>
            Reviews
        </div>
        <div class='col-md-2'>
            Actions
        </div>
    </h3>
  </div>

  <% if group[:application].closed? %>
    <span class='text-muted'><%= "#{group[:application].status.titlecase} #{group[:application].updated_at.strftime('%m/%d/%Y')}" %></span>
  <% end %>
  <br><br>
  <% group[:drafts].each do |draft| %>
    <div class='row'>
      <div class='col-md-2'>
        <div class='remote_lawyer_review_status <%= draft.status %>'>
            <%= draft.status_string %> 
        </div>
        <%= draft.updated_at.strftime('%m/%d/%Y') %>
      </div>
      <div class='col-md-4'>
        <p>
          <%= link_to draft.pdf_draft.file.filename, draft.pdf_draft_url, target: '_blank' %>
          <br>

          <% if draft.notes.present? %>
            <strong>Notes:  </strong><%= draft.notes %><br>
          <% end %>
        </p>
      </div>

      <div class='col-md-4'>
        <% if draft.reviews.present? %>
            <% draft.reviews.each do |review| %>
                <%= link_to "Review by #{review.user.name}", review.authored_by?(current_user) ? edit_community_friend_draft_review_path(@friend.community.slug, @friend, draft, review) : community_friend_draft_review_path(@friend.community.slug, @friend, draft, review) %>
                <br>
            <% end %>
        <% else %>
            <div class='remote_lawyer_no_reviews'>
                No reviews yet
            </div>
        <% end %>
        
      </div>
      
      <% if draft.reviews.by_user(current_user).present? %>
        <div class='col-md-1'>
            <%= link_to 'Edit Review', new_community_friend_draft_review_path(@friend.community.slug, @friend, draft), class: 'btn btn-info' %>
        </div>
      <% else %>
        <div class='col-md-1'>
          <%= link_to 'Add Review', new_community_friend_draft_review_path(@friend.community.slug, @friend, draft), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <% unless draft.application.approved? || draft.application.closed? || draft.friend.region.border?  %>
        <div class='col-md-1'>
          <%= link_to 'Approve Draft', approve_community_friend_draft_path(@friend.community.slug, @friend, draft), method: :patch, class: 'btn btn-success', data: { confirm: 'Are you sure?  This will notify community admins and volunteers that the draft has been approved and cannot be undone.' } %>
        </div>
      <% end %>

    </div>
    <br>
  <% end %>
<% end %>

<% if @friend.notes.present? %>
  <h3>Notes for <%= @friend.name %></h3>
  <p><%= @friend.notes %></p>
  </br>
<% end %>
