<h3>Asylum</h3>

<div class='row form-group'>
  <%= f.label :asylum_status, 'Status', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.select :asylum_status, options_for_select(Friend::ASYLUM_STATUSES, @friend.asylum_status), {include_blank: true}, {class: 'form-control'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :date_asylum_application_submitted, 'Date Submitted', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.date_select :date_asylum_application_submitted, { start_year: 2017, end_year: 5.years.from_now.year, prompt: true, order: [:month, :day, :year] }, {class: 'form-control inline-date-select'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :asylum_notes, 'Notes', class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_area :asylum_notes, class: 'form-control', style: 'height: 200px;' %>
  </div>
</div>

<div class='col-md-2 col-md-offset-10'>
  <%= f.submit 'Manage Documents', name: 'manage_application_drafts', :class => 'btn btn-primary' %>
</div>

<% if @friend.application_drafts.present? %>
  <h4>Asylum Application Drafts</h4>
<% end %>

<% @friend.application_drafts.order('created_at desc').each do |draft| %>
  <div>
    <p>
      <%= link_to draft.pdf_draft.file.filename, draft.pdf_draft_url, target: '_blank' %>
      <%= draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>
    
      <% if draft.users.present? %>
        <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
      <% end %>

      <% if draft.notes.present? %>
        <strong>Notes:  </strong><%= draft.notes %><br>
      <% end %>
    </p> 
  </div>
  <br>
<% end %>
