<br>
<div class='pull-right'>
  <%= link_to 'Add Detention', new_community_admin_friend_detention_path(current_community.slug, @friend), remote: true, class: 'btn btn-primary', data: { toggle: 'modal', target: '#detention_modal' } %>
</div>

<h3>Detentions</h3>
<div id='detention-list' >
  <%= render partial: 'admin/friends/detentions/list', locals: { friend: @friend } %>
</div>

<%# <h3>Ankle Monitor History</h3> %>
<%# <div id='ankle-monitor-list' > %>
<%#   <%= render partial: 'admin/friends/ankle_monitors/list', locals: { friend: @friend } %1> %>
<%# </div> %>

<h3>General Information</h3>

<div class='form-group'>
  <div class='col-md-12'>
    <%= f.label :jail_id, 'Jail ID' %>
    <%= f.text_field :jail_id %>
  </div>
</div>

<div class='form-group'>
  <div class='col-md-12'>
    <%= f.check_box :has_a_lawyer_for_detention %>
    <%= f.label :has_a_lawyer_for_detention, 'Has a Lawyer?' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-md-12'>
    <%= f.check_box :final_order_of_removal %>
    <%= f.label :final_order_of_removal, 'Final Order of Removal?' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-md-12'>
    <%= f.check_box :criminal_conviction %>
    <%= f.label :criminal_conviction, 'Criminal Conviction' %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :criminal_conviction_notes, 'Notes', class: 'col-md-12 control-label' %>
  <div class='col-md-8'>
    <%= f.text_area :criminal_conviction_notes, class: 'form-control', style: 'height: 100px;' %>
  </div>
</div>
