<% if @friend.grouped_drafts.empty? %>
  <h3> There are no files associated with this user.</h3>
<%else%>
  <% @friend.grouped_drafts.each do |group| %>
    <h3><%= group[:name].titlecase %></h3>
    <% group[:drafts].each do |draft| %>
      <div class='row'>
        <div class='col-md-6'>
          <%= link_to draft.pdf_draft.file.filename, draft.pdf_draft_url, target: '_blank' %>
          <%= draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>

          <% if draft.users.present? %>
            <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
          <% end %>

          <% if draft.notes.present? %>
            <strong>Notes:  </strong><%= draft.notes %><br>
          <% end %>
        </div>
        <%= render partial: 'drafts/draft_status', locals: { current_community: current_community, friend: friend, draft: draft } %>
        <% draft.reviews.each do |review| %>
          <%= link_to "Review by #{review.user.name} (#{review.user.role.tr('_', ' ').titlecase})", community_friend_draft_review_path(
            current_community.slug,
              @friend,
              draft,
              review
          ) %><%= review.created_at.strftime(" -- %A, %B %-d, %Y") %>
        <br>
      <% end %>
      <% if draft.reviews.none? { |review| review.user == current_user } %>
        <%= link_to 'Add Review', new_community_friend_draft_review_path(
          current_community.slug,
          @friend,
          draft
        ) %>
    <% end %>

    </p> 
      </div>
      <br>
      <br>
    <% end %>
  <% end %>
<% end %>
<br>
<div class='col-md-2 col-md-offset-10'>
  <%= f.submit 'Manage Documents', name: 'manage_drafts', class: 'btn btn-primary' %>
</div>
