<% @friend.grouped_drafts.each do |group| %>
  <h3><%= group[:name].titlecase %></h3>
  <% group[:drafts].each do |application_draft| %>
    <div>
      <p>
        <%= link_to application_draft.pdf_draft.file.filename, application_draft.pdf_draft_url, target: '_blank' %>
        <%= application_draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>
      
        <% if application_draft.users.present? %>
          <strong>Team:  </strong><%= application_draft.users.map(&:name).to_sentence %><br>
        <% end %>

        <% if application_draft.notes.present? %>
          <strong>Notes:  </strong><%= application_draft.notes %><br>
        <% end %>
      </p> 
    </div>
  <% end %>
<% end %>

<br>
<div class='col-md-2 col-md-offset-10'>
  <%= f.submit 'Manage Documents', name: 'manage_application_drafts', :class => 'btn btn-primary' %>
</div>
