<br>
<div class='row'>
  <div class='col-md-8'>
    <%= f.check_box :digitized %>
    <%= f.label :digitized %>
    <% if @friend.digitized_by && @friend.digitized_at %>
      <span>(by <%= User.find(@friend.digitized_by).try(:name) %> on <%= @friend.digitized_at.strftime("%B %-d, %Y") %>)</span>
    <% end %>
  </div>
  <div class='col-md-2'>
    <%= f.submit 'Manage Documents', name: 'manage_drafts', class: 'btn btn-primary' %>
  </div>
</div>
<% if @friend.grouped_drafts.empty? %>
  <h3> There are no files associated with this user.</h3>
<% else %>
  <% @friend.grouped_drafts.each do |group| %>
    <h3><%= group[:name].titlecase %></h3>
    <% group[:drafts].each do |draft| %>
      <div class='row'>
        <div class='col-md-10'>
          <%= draft.pdf_draft.file.filename %> -- <em><%= draft.created_at.strftime("%A, %B %-d, %Y") %></em><br>
          <%= link_to draft.pdf_draft_url, target: '_blank' do %>
            <i class='fa fa-eye fa-lg'></i>
            View
          <% end %>
          <span style='padding-left:10px; padding-right:10px;'>|</span>
          <%= link_to draft.pdf_draft.url(response_content_disposition: %Q{attachment; filename="#{ draft.pdf_draft.file.filename }"}) do %>
            <i class='fa fa-download fa-lg'></i>
            Download
          <% end %>
          <br>

          <% if draft.users.present? %>
            <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
          <% end %>

          <% if draft.notes.present? %>
            <strong>Notes:  </strong><%= draft.notes %><br>
          <% end %>
          <% draft.reviews.each do |review| %>
            <%= link_to "Review by #{review.user.name} (#{review.user.role.tr('_', ' ').titlecase})", review.authored_by?(current_user) ? edit_community_friend_draft_review_path(@friend.community.slug, @friend, draft, review) : community_friend_draft_review_path(@friend.community.slug, @friend, draft, review) %><%= review.created_at.strftime(" -- %A, %B %-d, %Y") %>
            <% if review.authored_by?(current_user) %>
              <div class='pull-right'>
                <%= link_to 'Remove', community_friend_draft_review_path(current_community.slug, @friend, draft, review), method: :delete, remote: true, class: 'delete' %>
              </div>
            <% end %>
            <br>
          <% end %>
          <% unless draft.reviews.by_user(current_user).present? %>
            <%= link_to 'Add Review', new_community_friend_draft_review_path(@friend.community.slug, @friend, draft) %>
          <% end %>
        </div>

        <%= render partial: 'drafts/draft_status', locals: { current_community: current_community, friend: friend, draft: draft } %>
        <br>
      </div>
    <br>
    <br>
    <% end %>
  <% end %>
<% end %>