<div class='modal add-family-member-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title'>Add a Family Member</h4>
      </div>
      <div class='modal-body'>
        <%= form_for([:admin, FamilyMember.new], url: admin_family_members_path, action: :post, remote: true) do |f| %>
          <div class='form-inputs'>
            <div class='row form-group'>
              <%= f.hidden_field :friend_id, value: @friend.id %>
              <%= f.label :relationship, class: 'col-md-12 control-label' %>
              <div class='col-md-12'>
                <%= f.select :relationship, options_for_select(FamilyMember::RELATIONSHIPS), {include_blank: true}, {class: 'form-control'} %>
              </div>
            </div>

            <div class='row form-group'>
              <%= f.label :relation_id, 'Friend', class: 'col-md-12 control-label' %>
              <div class='col-md-12'>
                <%= collection_select(:family_member, :relation_id, Friend.all, :id, :full_name, {prompt: true}, {class: 'chzn-select form-control'}) %>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-1 col-md-offset-10'>
                <%= f.submit 'Add', :class => 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
