<%= form_for([current_community, :admin, @friend]) do |f| %>
  <div class='row'>
    <div class='col-md-1 col-md-offset-10'>
      <div class='row' id='submission_wrapper'>
        <%= f.submit 'Save', class: 'btn btn-primary' %></div>
      </div>
    </div>
  <div class= 'row'>
    <div class='col-md-10 col-md-offset-1'>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="#basic" role="tab">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#family" role="tab">Family</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#activities" role="tab">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#clinic" role="tab">Clinic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#detention" role="tab">Detention</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#other_case_info" role="tab">Other Case Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#documents" role="tab">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#access" role="tab">Access</a>
        </li>
      </ul>

      <!-- Validation errors -->
      <%= display_validation_errors(@friend) %>

      <!-- Tab panes -->
      <div class="tab-content form-inputs">
        <div class="tab-pane active" id="basic" role="tabpanel">
          <%= render 'basic_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="family" role="tabpanel">
          <%= render 'family_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="activities" role="tabpanel">
          <%= render 'activities_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="clinic" role="tabpanel">
          <%= render 'clinic_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="detention" role="tabpanel">
          <%= render 'detention_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="other_case_info" role="tabpanel">
          <%= render 'other_case_info_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
          <%= render 'drafts', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="access" role="tabpanel">
          <%= render 'access_form_fields', f: f, friend: @friend %>
        </div>
      </div>
    </div>
  </div>

  </br>

  <%= hidden_field_tag :tab, @current_tab %>
<% end %>

<%= render partial: 'admin/friends/activities/modal', locals: { activity: @friend.activities.new } %>

<%= render partial: 'admin/friends/family_relationships/modal', locals: { family_relationship: FamilyRelationship.new, friend: @friend } %>

<%= render partial: 'admin/friends/detentions/modal', locals: { detention: @friend.detentions.new } %>

<script>
  $(document).ready(function () {
    $('a[href="<%= @current_tab %>"]').click();
    $('.nav-link').on( "click", function() {
      $('#tab').val($( this ).attr('href'));
    });
  });
</script>
