<%= form_for([:admin, @friend]) do |f| %>
  <div class='row'>
    <div class='col-md-1 col-md-offset-10'><%= f.submit 'Save', :class => 'btn btn-primary' %></div>
  </div>
  <div class= 'row'>
    <div class='col-md-10 col-md-offset-1'>
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#basic" role="tab">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#family" role="tab">Family</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#activities" role="tab">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#asylum" role="tab">Asylum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sijs" role="tab">SIJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#other_case_info" role="tab">Other Case Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#access" role="tab">Access</a>
        </li>
      </ul>

      <!-- Validation errors -->
      <%= display_validation_errors(@friend) %>
      
      <!-- Tab panes -->
      <div class="tab-content form-inputs">
        <div class="tab-pane" id="basic" role="tabpanel">
          <%= render 'basic_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="family" role="tabpanel">
          <%= render 'family_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="activities" role="tabpanel">
          <%= render 'activities_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="asylum" role="tabpanel">
          <%= render 'asylum_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="sijs" role="tabpanel">
          <%= render 'sijs_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="other_case_info" role="tabpanel">
          <%= render 'other_case_info_form_fields', f: f, friend: @friend %>
        </div>
        <div class="tab-pane" id="access" role="tabpanel">
          <%= render 'access_form_fields', f: f, friend: @friend %>
        </div>
      </div>
    </div>
  </div>

  </br>

  <%= hidden_field_tag :tab, @current_tab %>
  <div class='row' id='submission_wrapper'>
    <div class='col-md-1 col-md-offset-10'>
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render partial: 'admin/friends/activities/modal', locals: { activity: Activity.new(friend_id: @friend.id) } %>

<%= render partial: 'admin/friends/family_members/modal', locals: { family_member_constructor: FamilyMemberConstructor.new, friend: @friend } %>

<script>
  $(document).ready(function () {
    $('a[href="<%= @current_tab %>"]').click();
    $('.nav-link').on( "click", function() {
      $('#tab').val($( this ).attr('href'));
    });
  });
</script>
