<div class='form_fields_section'>
  <h3>Social Work Referrals</h3>

  <div class='row form-group'>
    <%= fields_for(@friend.social_work_referral_categories.build) do |fl| %>
      <%= fl.label :social_work_referral_categories, 'Social Work Categories', class: 'col-md-2 control-label' %>
      <div class='col-md-6'>
        <%= collection_select(:friend, :social_work_referral_category_ids, SocialWorkReferralCategory.all, :id, :name, {}, {multiple: true, prompt: true, class: 'js-select2 form-control'}) %>
      </div>
    <% end %>
  </div>

  <div class='row form-group'>
    <%= f.label :social_work_referral_notes, 'Notes', class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_area :social_work_referral_notes, class: 'form-control', style: 'height: 200px;' %>
    </div>
  </div>

  <h3>Lawyer</h3>

  <div class='row form-group'>
    <div class='col-md-12'>
      <%= f.check_box :has_a_lawyer %>
      <%= f.label :has_a_lawyer, 'Has a Lawyer' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :lawyer_name, 'Lawyer Name', class: 'col-md-2 control-label' %>
    <div class='col-md-4'>
      <%= f.text_field :lawyer_name, class: 'form-control' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :lawyer_referred_to,'Referred to', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :lawyer_referred_to, current_region.lawyers.order('organization asc'), :id, :name_and_organization, { include_blank: true }, {class: 'form-control js-select2'}) %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :lawyer_represented_by,'Represented by', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :lawyer_represented_by, current_region.lawyers.order('organization asc'), :id, :name_and_organization, { include_blank: true }, {class: 'form-control js-select2'}) %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :lawyer_notes, 'Notes', class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_area :lawyer_notes, class: 'form-control', style: 'height: 200px;' %>
    </div>
  </div>
</div>

<div class='form_fields_section'>
  <h3>Bond</h3>

  <div class='row form-group'>
    <div class='col-md-12'>
      <%= f.check_box :bonded_out_by_nsc %>
      <%= f.label :bonded_out_by_nsc, 'Bonded Out by NSC' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :bond_amount, 'Bond Amount', class: 'col-md-2 control-label' %>
    <div class='col-md-2'>
      <%= f.number_field :bond_amount, class: 'form-control' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :date_bonded_out, 'Bonded Out', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= f.date_select :date_bonded_out, { start_year: 2017, end_year: 5.years.from_now.year, prompt: true, order: [:month, :day, :year] }, {class: 'form-control inline-date-select'} %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :bonded_out_by, 'Bonded Out By', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :bonded_out_by, current_community.sanctuaries, :id, :name, {prompt: true}, {class: 'js-select2 form-control'}) %>
    </div>
  </div>
</div>

<div class='form_fields_section'>
  <h3>Potential Sponsor</h3>

  <div class='row form-group'>
    <%= f.label :sponsor_name, 'Sponsor Name', class: 'col-md-2 control-label' %>
    <div class='col-md-4'>
      <%= f.text_field :sponsor_name, class: 'form-control' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :sponsor_phone_number, 'Sponsor Phone Number', class: 'col-md-2 control-label' %>
    <div class='col-md-4'>
      <%= f.text_field :sponsor_phone_number, class: 'form-control' %>
    </div>
  </div>

  <div class='row form-group'>
    <%= f.label :sponsor_relationship, 'Sponsor Relationship', class: 'col-md-2 control-label' %>
    <div class='col-md-4'>
      <%= f.text_field :sponsor_relationship, class: 'form-control' %>
    </div>
  </div>
</div>
