<h3>Other Case Info</h3>

<br>
<h4>Lawyer</h4>

<div class='row form-group'>
  <%= f.label :lawyer_referred_to,'Referred to', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= collection_select(:friend, :lawyer_referred_to, Lawyer.all.order('organization asc'), :id, :name_and_organization, {include_blank: true}, {class: 'form-control chzn-select'}) %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :lawyer_represented_by,'Represented by', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= collection_select(:friend, :lawyer_represented_by, Lawyer.all.order('organization asc'), :id, :name_and_organization, {include_blank: true}, {class: 'form-control chzn-select'}) %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :lawyer_notes, 'Notes', class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_area :lawyer_notes, class: 'form-control', style: 'height: 200px;' %>
  </div>
</div>

<br>
<h4>Work Authorization</h4>

<div class='row form-group'>
  <%= f.label :work_authorization_status, 'Status', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.select :work_authorization_status, options_for_select(Friend::WORK_AUTHORIZATION_STATUSES, @friend.work_authorization_status), {include_blank: true}, {class: 'form-control'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :date_eligible_to_apply_for_work_authorization, 'Date Eligible to Apply', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.date_select :date_eligible_to_apply_for_work_authorization, { start_year: 2017, end_year: 5.years.from_now.year, prompt: true, order: [:month, :day, :year] }, {class: 'form-control inline-date-select'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :date_work_authorization_submitted, 'Date Submitted', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.date_select :date_work_authorization_submitted, { start_year: 2017, end_year: 5.years.ago.year, prompt: true, order: [:month, :day, :year] }, {class: 'form-control inline-date-select'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :work_authorization_notes, 'Notes', class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_area :work_authorization_notes, class: 'form-control', style: 'height: 200px;' %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :sijs_notes, 'Notes', class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_area :sijs_notes, class: 'form-control', style: 'height: 200px;' %>
  </div>
</div>

