<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class: 'well condensed-filters' }  do |f| %>
  <div class="row">
    <div class='form-group col-md-2'>
      <%= f.label :filter_first_name, 'First Name' %>
      <%= f.text_field(:filter_first_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_last_name, 'Last Name' %>
      <%= f.text_field(:filter_last_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_a_number, 'A Number' %>
      <%= f.text_field(:filter_a_number, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_id, 'ID' %>
      <%= f.text_field(:filter_id, class: 'form-control') %>
    </div>
    <div class='form-group col-md-1'>
      <%= f.label :filter_detained, 'Detained' %>
      <div>
        <%= f.check_box(:filter_detained) %>
      </div>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_phone_number, 'Phone Number' %>
      <%= f.text_field(:filter_phone_number, class: 'form-control') %>
    </div>
  </div>

  <div class="row">
    <div class='form-group col-md-12'>
      <%= f.label :filter_start_date, '1 year asylum application deadline ending between dates:' %>

      <%= f.text_field :filter_asylum_application_deadline_ending_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_asylum_application_deadline_ending_before, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-12 inline-form-group'>
      <%= f.label :filter_created_date, 'Created between dates:' %>
      <%= f.text_field :filter_created_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_created_before, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group inline-form-group'>
      <div class='col-md-2'>
        <%= f.label :filter_clinic_wait_list_priority, 'Wait List Priority(s):' %>
      </div>
      <div class='col-md-5'>
        <%= f.select :filter_clinic_wait_list_priority, @filterrific.select_options[:filter_clinic_wait_list_priority], { include_blank: true }, multiple: true, class: 'chzn-select form-control-lg' %>
      </div>
    </div>
  </div>
  <br>

  <div class='row'>
    <div class='form-group col-md-5 inline-form-group'>
      <%= f.label :filter_border_queue_number, 'Border Queue Number' %>
      <%= f.text_field(:filter_border_queue_number, class: 'form-control') %>
    </div>

    <div class='form-group col-md-5 inline-form-group'>
      <%= f.label :filter_border_crossing_status, 'Border Crossing Status' %>
      <%= f.select :filter_border_crossing_status, @filterrific.select_options[:filter_border_crossing_status], { include_blank: true }, class: 'form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-3 inline-form-group'>
      <%= f.label :filter_notes, 'Notes' %>
      <%= f.text_field(:filter_notes, class: 'form-control') %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-12 inline-form-group'>
      <div>
        <%= f.label :sorted_by, 'Sorted by' %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
