<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class: 'well condensed-filters' }  do |f| %>
  <div class="row">
    <div class='form-group col-md-2'>
      <%= f.label :filter_first_name, 'First Name' %>
      <%= f.text_field(:filter_first_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_last_name, 'Last Name' %>
      <%= f.text_field(:filter_last_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_a_number, 'A Number' %>
      <%= f.text_field(:filter_a_number, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_phone_number, 'Phone Number' %>
      <%= f.text_field(:filter_phone_number, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_id, 'ID' %>
      <%= f.text_field(:filter_id, class: 'form-control') %>
    </div>
    <div class='form-group col-md-2'>
      <%= f.label :filter_notes, 'Notes' %>
      <%= f.text_field(:filter_notes, class: 'form-control') %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_detained, 'Detained' %>
      <%= f.check_box(:filter_detained) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_activity_tbd_or_control_date, 'Control Date/TBD'%>
      <%= f.check_box(:filter_activity_tbd_or_control_date) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_invited_to_speak_to_a_lawyer, 'Return for lawyer' %>
      <%= f.check_box(:filter_invited_to_speak_to_a_lawyer) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_famu_docket, 'FAMU docket' %>
      <%= f.check_box(:filter_famu_docket) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_no_record_in_eoir, 'No Record in EOIR' %>
      <%= f.check_box(:filter_no_record_in_eoir) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_order_of_supervision, 'OSUP' %>
      <%= f.check_box(:filter_order_of_supervision) %>
    </div>
    <div class='form-group col-md-2 inline-form-group'>
      <%= f.label :filter_has_a_lawyer, 'Has a lawyer' %>
      <%= f.check_box(:filter_has_a_lawyer) %>
    </div>
  </div>

  <div class="row">
    <div class='form-group col-md-12'>
      <%= f.label :activity_type, 'Activity type' %>
      <%= f.select :activity_type, @filterrific.select_options[:activity_type], { }, multiple: true, class: 'js-select2 form-control' %>
      <%= f.label :filter_activity_start_date, 'between' %>
      <%= f.text_field :filter_activity_start_date, class: 'datepicker form-control' %>
      <%= f.label :filter_activity_end_date, 'and' %>
      <%= f.text_field :filter_activity_end_date, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class="row search_activity_sub_row">
    <div class='form-group col-md-7'>
      <%= f.label :activity_judge, 'with' %>
      <%= f.select :activity_judge, @filterrific.select_options[:activity_judge], { }, multiple: true, class: 'js-select2 form-control' %>
      <%= f.label :activity_location, 'at' %>
      <%= f.select :activity_location, @filterrific.select_options[:activity_location], { }, multiple: true, class: 'js-select2 form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-6 inline-form-group'>
      <%= f.label :filter_created_date, 'Created:' %>
      <%= f.text_field :filter_created_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_created_before, class: 'datepicker form-control' %>
    </div>

    <div class='form-group col-md-6'>
      <%= f.label :country_of_origin, 'Country of origin:' %>
      <%= f.select :country_of_origin, @filterrific.select_options[:country_of_origin], { }, multiple: true, class: 'js-select2 form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-6'>
      <%= f.label :filter_start_date, '1 year deadline:' %>

      <%= f.text_field :filter_asylum_application_deadline_ending_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_asylum_application_deadline_ending_before, class: 'datepicker form-control' %>
    </div>

    <div class='form-group col-md-6'>
      <%= f.label :filter_start_date, 'Judge deadline:' %>

      <%= f.text_field :filter_judge_imposed_deadline_ending_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_judge_imposed_deadline_ending_before, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class="row">
    <div class='form-group col-md-6'>
      <%= f.label :filter_must_be_seen_by, 'Must be seen by:' %>

      <%= f.text_field :filter_must_be_seen_by_after, class: 'datepicker form-control' %>
      <%= f.text_field :filter_must_be_seen_by_before, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class='row'>
    <div class='form-group col-md-6 inline-form-group'>
      <div>
        <%= f.label :sorted_by, 'Sorted by' %>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
