<h3>SIJS</h3>

<div class='row form-group'>
  <%= f.label :sijs_status, 'Status', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.select :sijs_status, options_for_select(Friend::SIJS_STATUSES, @friend.sijs_status), {include_blank: true}, {class: 'form-control'} %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :sijs_lawyer, 'SIJS Lawyer', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= collection_select(:friend, :sijs_lawyer, Lawyer.all.order('organization asc'), :id, :name_and_organization, {include_blank: true}, {class: 'form-control chzn-select'}) %>
  </div>
</div>

<div class='row form-group'>
  <%= f.label :date_sijs_submitted, 'Date Submitted', class: 'col-md-2 control-label' %>
  <div class='col-md-6'>
    <%= f.date_select :date_sijs_submitted, { start_year: 2017, end_year: 5.years.from_now.year, prompt: true, order: [:month, :day, :year] }, {class: 'form-control inline-date-select'} %>
  </div>
</div>

<div class='col-md-2 col-md-offset-10'>
  <%= f.submit 'Manage SIJS Application Drafts', name: 'manage_sijs_drafts', :class => 'btn btn-primary' %>
</div>

<% if @friend.sijs_application_drafts.present? %>
  <h4>SIJS Application Drafts</h4>
<% end %>

<% @friend.sijs_application_drafts.order('created_at desc').each do |draft| %>
  <div>
    <p>
      <%= link_to draft.pdf_draft.file.filename, draft.pdf_draft_url, target: '_blank' %>
      <%= draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>
    
      <% if draft.users.present? %>
        <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
      <% end %>

      <% if draft.notes.present? %>
        <strong>Notes:  </strong><%= draft.notes %><br>
      <% end %>
    </p> 
  </div>
  <br>
<% end %>