<div class='row'>
  <%= link_to 'New Friend', new_community_admin_friend_path(current_community.slug), class: 'btn btn-primary pull-right'%>
</div>
<h1><%= link_to "Friends", community_admin_friends_path(current_community.slug) %></h1>

<%= render 'search_friends' %>

<% if @friends.present? %>
  <p class='pull-right'><strong><%= "#{ @friends.count } results" %></strong></p>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>A#</th>
        <th>Phone Number</th>
        <th>Date of Entry</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr id="friend-<%=friend.id%>" class="<%= "friend_in_detention" if friend.detained? %>" style="<%= 'color: #b3b3b3;' if friend.archived? %>">
          <td style='text-align:center;'>
            <%= friend.id %>
            <br>
            <% if friend.cohorts.present? %>
              <i class='far fa-calendar-check' style="color: <%= friend.cohorts.first.color %>;"></i>
            <% end %>
          </td>
          <td class='text-stretch'>
            <% if friend.archived? %>
              <%= friend.first_name %>
            <% else %>
              <%= link_to friend.first_name, edit_community_admin_friend_path(current_community.slug, friend) %>
            <% end %>
          </td>
          <td class='text-stretch'>
            <% if friend.archived? %>
              <%= friend.last_name %>
            <% else %>
              <%= link_to friend.last_name, edit_community_admin_friend_path(current_community.slug, friend) %>
            <% end %>
          </td>
          <td><%= friend.a_number %></td>
          <td>
            <% unless friend.archived? %>
              <%= friend.phone %>
            <% end %>
          </td>
          <td>
            <% unless friend.archived? %>
              <%= friend.date_of_entry.try(:strftime, '%m/%d/%y') %>
            <% end %>
          </td>
          <td><%= friend.created_at.strftime('%m/%d/%y') %></td>
          <td>
            <div class='button-cell btn-group'>
              <% if !friend.archived? %>
                <%= link_to(edit_community_admin_friend_path(current_community.slug, friend), id: "edit-friend-#{friend.id}", class: 'btn btn-default') do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <button type='button' class='btn dropdown-toggle btn-default' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                  <span class='caret'></span>
                </button>
                <ul class='dropdown-menu'>
                  <li><%= link_to 'Delete', community_admin_friend_path(current_community.slug, friend), method: :delete, confirm: true %></li>
                </ul>
              <% elsif current_user.can_access_region?(current_region) || (current_user.admin? && !current_community.primary?) %>
                <%= link_to 'Reactivate', reactivate_community_admin_friend_path(friend.community.slug, friend), method: :patch %>
              <% else %>
                Archived
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class='pull-right'>
    <%= will_paginate @lawyers %>
  </div>

  <h3>Color Code</h3>
  <%= color_code %>
<% else %>
  <h3>No search results matched your criteria.</h3>
<% end %>
