<%= link_to 'Create Asylum Draft', new_friend_asylum_application_draft_path(friend), class: 'pull-right btn btn-primary' %>
<% if friend.asylum_application_drafts.present? %>
  <h2>Asylum Application Drafts</h2>
<% end %>

<% friend.asylum_application_drafts.order('created_at desc').each do |draft| %>
  <div>
    <p>
      <%= link_to draft.pdf_draft.file.filename, draft.pdf_draft_url, target: '_blank' %>
      <%= draft.created_at.strftime("-- %A, %B %-d, %Y") %><br>
    
      <% if draft.users.present? %>
        <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
      <% end %>

      <% if draft.notes.present? %>
        <strong>Notes:  </strong><%= draft.notes %><br>
      <% end %>

      <%= link_to 'Edit', edit_friend_asylum_application_draft_path(friend, draft) %>
      <% if current_user.admin? %>
        <%= link_to 'Delete', friend_asylum_application_draft_path(friend, draft), method: :delete, confirm: true, class: 'delete' %><br>
      <% end %>
    </p> 
  </div>
  <br>
<% end %>
