<%= form_for([current_community, :admin, @user], html: { autocomplete: "off", class: 'form-horizontal' }) do |f| %>

  <%= display_validation_errors(@user) %>

  <div class='form-inputs'>
    <div class='form-group'>
      <%= f.label :first_name, 'First Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :last_name, 'Last Name', class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :email, class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :email, autocomplete: 'new', class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label :phone, class: 'col-md-2 control-label required' %>
      <div class='col-md-6'>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <%= fields_for(@user.languages.build) do |fl| %>
        <%= fl.label :languages,'Languages', class: 'col-md-2 control-label' %>
        <div class='col-md-6'>
          <%= collection_select(:user, :language_ids, Language.all, :id, :name, {}, {multiple: true, prompt: true, class: 'js-select2 form-control'}) %>
        </div>
      <% end %>
    </div>

    <% if current_user.admin? %>
      <div class='form-group'>
        <%= f.label :role, class: 'col-md-2 control-label required' %>
        <div class='col-md-6'>
          <%= f.select :role, available_roles, {}, {class: 'form-control input-md'} %>
        </div>
      </div>
    <% end %>

    <div class='form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :pledge_signed, id: 'pledge-check' %>
        <label>
          Signed Pledge
        </label>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :signed_guidelines, id: 'signed-check' %>
        <label>
          Signed Guidelines
        </label>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-md-6 col-md-offset-2'>
        <%= f.check_box :attended_training, id: 'training-check' %>
        <label>
          Attended Training
        </label>
      </div>
    </div>

    <div class='row form-group'>
      <p><strong>ONLY</strong> fill in the password field if you want to <strong>CHANGE</strong> your password. If you leave this field blank, your password will stay the same.</p>
      <p>Passwords are required to be at least 8 characters long AND contain at least one of EACH of the following: an uppercase letter, a lowercase letter, a number.  They also cannot be a password that you used previously.</p>
      <%= f.label :password, class: 'col-md-2 control-label' %>
      <div class='col-md-6'>
        <%= f.password_field :password, autocomplete: 'new', class: 'form-control', placeholder: 'Set a NEW password' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-7'>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
