  <div>  <%= page_entries_info users  %> </div>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>ID</th>
        <th><%= filterrific_sorting_link(@filterrific, :first_name) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :last_name) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :email) %></th>
        <th>Phone Number</th>
        <th><%= filterrific_sorting_link(@filterrific, :volunteer_type) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :admin?) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :created_at) %></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="user-<%=user.id%>" style="<%= 'color: #b3b3b3;' unless user.confirmed? %>">
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.volunteer_type.try(:titleize) %></td>
          <td><%= user.admin? ? 'YES' : 'NO' %></td>
          <td><%= user.created_at.strftime('%m/%d/%y') %></td>
          <td>
            <div class='btn-group'>
              <%= link_to edit_community_admin_user_path(current_community.slug, user), id: "edit-user-#{user.id}", class: "btn btn-default" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <button type='button' class='btn dropdown-toggle btn-default' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <span class='caret'></span>
              </button>
              <ul class='dropdown-menu'>
                <li><%= link_to 'Delete', community_admin_user_path(current_community.slug, user, query: params[:query]), method: :delete, confirm: true %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= will_paginate users %>
