<% if users.present? %>
<div id='filterrific-results'>
  <table class='table table-bordered'>
    <div>
    <%= page_entries_info users  %>
  </div>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="user-<%=user.id%>" style="<%= 'color: #b3b3b3;' unless user.confirmed? %>">
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.role.try(:titlecase) %></td>
          <td><%= user.created_at.strftime('%m/%d/%y') %></td>
          <td>
            <div class='btn-group'>
              <% if user.confirmed? %>
                <%= link_to edit_community_admin_user_path(current_community.slug, user), id: "edit-user-#{user.id}", class: "btn btn-default" do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end %>
              <button type='button' class='btn dropdown-toggle btn-default' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <span class='caret'></span>
              </button>
              <ul class='dropdown-menu'>
                <li><%= link_to 'Delete', community_admin_user_path(current_community.slug, user, query: params[:query]), method: :delete, confirm: true %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <div class='pull-right'>
    <%= will_paginate users %>
  </div>
<% else %>
  <h3>No search results matched your criteria.</h3>
<% end %>
