<div class='row'>
  <div class='col-md-offset-3'>
    <div class='row'>
      <h1 class='page-header'>Edit User</h1>

      <%= render 'form' %>
      <% if current_user.admin_or_has_active_access_time_slot? %>
        <h4>Has access to Friend records:</h4>
          <%= raw @user.local_clinic_friends.collect { |friend| link_to friend.name, edit_community_admin_friend_path(current_community.slug, friend), target: '_blank' }.join(' | ') %>
      <% end %>
      <h4>Accompaniments</h4>
      <ul>
      <%@accompaniments.each do |accompaniment|%>
        <% activity = accompaniment.activity %>
        <% next unless activity.occur_at.present? %>
        <li>
          <%= activity.occur_at.month < 10 ?  
            '0' + activity.occur_at.month.to_s 
            : 
            activity.occur_at.month %>/<%= activity.occur_at.day %>/<%= activity.occur_at.year %> 
          -- <%= activity.activity_type.name.titlecase %> 
          for 
          <%= link_to activity.friend.name, edit_community_admin_friend_path(current_community.slug, activity.friend) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
