<div class='row'>
  <div class='fieldset'>
  <%= link_to 'Invite User', new_user_community_invitation_path(current_community.slug), class: 'btn btn-primary pull-right'%>

  <h1><%= link_to "Users", community_admin_users_path(current_community.slug) %></h1>
</div>
<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class: 'well well-lg' }  do |f| %>
  <div class="row">
    <div class='form-group col-md-3'>
      <%= f.label :filter_first_name, 'First Name' %>
      <%= f.text_field(:filter_first_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-3'>
      <%= f.label :filter_last_name, 'Last Name' %>
      <%= f.text_field(:filter_last_name, class: 'form-control') %>
    </div>
    <div class='form-group col-md-3'>
      <%= f.label :filter_email, 'Email' %>
      <%= f.text_field(:filter_email, class: 'form-control') %>
    </div>

    <div class='form-group col-md-3'>
        <%= f.label :filter_role, 'Role' %>
        <%= f.select(
          :filter_role, 
          @filterrific_role.select_options[:filter_role], 
          { include_blank: '- Any -' }, 
          { class: 'form-control' },
        ) %>
    </div>

    <div class='form-group col-md-3'>
      <%= f.label :filter_phone_number, 'Phone Number' %>
      <%= f.text_field(:filter_phone_number, class: 'form-control') %>
    </div>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary' %>
</div>


<% end %>
<%= render(partial: 'admin/users/list', locals: { users: @users }) %>
