<div class='row'>
  <%= link_to 'Invite User', new_user_community_invitation_path(current_community.slug), class: 'btn btn-primary pull-right'%>

  <h1><%= link_to "Users", community_admin_users_path(current_community.slug) %></h1>
</div>
<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class: 'well' }  do |f| %>

    <div class='form-group col-md-3'>
      <%= f.label :filter_first_name, 'First Name' %>
      <%= f.text_field(:filter_first_name) %>
    </div>
    <div class='form-group col-md-3'>
      <%= f.label :filter_last_name, 'Last Name' %>
      <%= f.text_field(:filter_last_name) %>
    </div>
    <div class='form-group col-md-3'>
      <%= f.label :filter_email, 'Email' %>
      <%= f.text_field(:filter_email) %>
    </div>
    <div class='row'>
        <%= f.label :filter_volunteer_type, 'Volunteer Type' %>
        <%= f.select(:filter_volunteer_type, @filterrific.select_options[:filter_volunteer_type], { include_blank: '- Any -' }) %>
    </div>


   <%= submit_tag 'Search', class: 'btn btn-primary'%>


<% end %>
<%= render(partial: 'admin/users/list', locals: { users: @users }) %>
