<div id="modal_activity_<%= activity.id %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= "#{activity.activity_type.name.titlecase} for #{activity.friend.first_name}" %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div id='activity_<%= activity.id %>_accompaniment_form'>
            <div class='row' style='padding-left:15px;'>
              <strong>When:  </strong><%= activity.occur_at.strftime("%I:%M %p, %A, %B %-d, %Y") %><br>
              <strong>Where:  </strong><%= activity.location.name if activity.location.present? %><br>
              <strong>Public Notes:  </strong><%= activity.public_notes if activity.public_notes.present? %><br>
            </div>
            <% if activity.accompaniment_leader_accompaniments.present? %>
              <strong>Accompaniment Leaders:  </strong>
              <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
            <% end %>
            <strong>Volunteers:  </strong><%= activity.users.volunteer.map(&:first_name).to_sentence %>
            <div><em><%= volunteers_needed(activity) %></em></div>
            <% if current_user.attending?(activity) || !activity.accompaniment_limit_met? %>
              <%= form_for [current_community, accompaniment] do |f| %>
                <%= f.hidden_field :activity_id, value: activity.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class='form-inputs'>
                  <div class='row form-group'>
                    <%= label_tag :attending, 'Attending', class: 'col-md-2' %>
                    <div class='col-md-2'>
                      <%= select_tag :attending, options_for_select([['Yes', true], ['No', false]]), include_blank: false, class: 'form-control' %>
                    </div>
                  </div>
                  <div class='row form-group'>
                    <%= f.label :availability_notes, 'Availability Notes', class: 'col-md-12' %>
                    <div class='col-md-12'>
                      <%= f.text_area :availability_notes, {style: 'height: 100px;', class: 'form-control'} %>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-1 col-md-offset-10'>
                      <%= f.submit 'Save', class: 'btn btn-success' %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
