<div class='row' id="activity_<%= activity.id %>">
  <div class='col-md-10 col-sm-8 col-xs-8'>
    <strong>Who:  </strong><%= activity.friend.first_name %><br>
    <strong>What:  </strong><%= activity.event.humanize %><br>
    <strong>When:  </strong><%= activity.occur_at.strftime("%I:%M %p") %><br>
    <strong>Where:  </strong><%= activity.location.name if activity.location.present? %><br>
    <% if activity.accompaniment_leader_accompaniments.present? %>
      <strong>Accompaniment Leaders:  </strong>
      <%= render 'shared/scoped_activity_users_details', activity: activity, scope: 'accompaniment_leader' %>
    <% end %>
    <strong>Volunteers:  </strong><%= activity.users.volunteer.map(&:first_name).to_sentence %>
  </div>
  <div class='col-md-2 col-sm-4 col-xs-4'>
    <% if current_user.attending?(activity) %>
      <button type='button' class='btn btn-success pull-right' data-toggle='modal' data-target="#activity_<%= activity.id %>_accompaniment_modal">Edit RSVP</button>
    <% else %>
      <button type='button' class='btn btn-primary pull-right' data-toggle='modal' data-target="#activity_<%= activity.id %>_accompaniment_modal">Attend</button>
    <% end %>
  </div>
</div>
<br>