<div class='row'>
  <% if current_user.regional_admin? && params[:remote_clinic].present? %>
    <%= link_to "Return to #{@friend.name}'s record", regional_admin_region_friend_path(@friend.region, @friend) %>
  <% elsif current_user.remote_clinic_lawyer? %>
    <%= link_to "Return to #{@friend.name}'s record", remote_clinic_friend_path(@friend) %>
  <% else %>
    <%= link_to "Return to #{@friend.name}'s record", edit_community_admin_friend_path(current_community.slug, @friend, tab: '#documents') %>
  <% end %>
</div>

<h3>Review For: <%= @draft.friend.name %></h3>
<div class='review-metadata'>
  <strong>Application: </strong><%= @draft.application.category.titleize %>
  <br>
  <strong>Draft: </strong><%= @draft.pdf_draft.file.filename %></strong><br>
  <%= link_to @draft.pdf_draft_url, target: '_blank' do %>
    <i class='fa fa-eye fa-lg'></i>
    View
  <% end %>
  <span style='padding-left:10px; padding-right:10px;'>|</span>
  <%= link_to @draft.pdf_draft.url(response_content_disposition: %Q{attachment; filename="#{ @draft.pdf_draft.file.filename }"}) do %>
    <i class='fa fa-download fa-lg'></i>
    Download
  <% end %>
</div>
<br>
<!-- Validation errors -->
<%= display_validation_errors(@review) %>
<%= form_for([current_community, @friend, @draft, @review]) do |f| %>
  <div class='form-inputs'>
    <div class='row form-group'>
      <%= f.label :notes, class: 'col-md-12 control-label' %>
      <div class='col-md-12'>
        <%= f.text_area :notes, {class: 'form-control', style: 'height: 200px;'} %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-1 col-md-offset-10'>
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :remote_clinic, params[:remote_clinic] %>
<% end %>
