<%= link_to 'Create Document', new_community_friend_draft_path(current_community.slug, friend), class: 'pull-right btn btn-primary' %>
<br>

<% if friend.grouped_drafts.empty? %>
  <h3> There are no files associated with this user.</h3>
<% else %>
  <% friend.grouped_drafts.each do |group| %>
    <h3><%= group[:name].titlecase %></h3>

    <% group[:drafts].each do |draft| %>
      <div class='row'>
        <div class='col-md-10'>
          <%= draft.pdf_draft.file.filename %> -- <em><%= draft.created_at.strftime("%A, %B %-d, %Y") %></em><br>
          <%= link_to draft.pdf_draft_url, target: '_blank' do %>
            <i class='fa fa-eye fa-lg'></i>
            View
          <% end %>
          <span style='padding-left:10px; padding-right:10px;'>|</span>
          <%= link_to draft.pdf_draft.url(response_content_disposition: %Q{attachment; filename="#{ draft.pdf_draft.file.filename }"}) do %>
            <i class='fa fa-download fa-lg'></i>
            Download
          <% end %>
          <% unless draft.reviews.present? %>
            <span style='padding-left:10px; padding-right:10px;'>|</span>
            <%= link_to edit_community_friend_draft_url(current_community.slug, friend, draft) do %>
              <i class='fa fa-edit fa-lg'></i>
              Edit Details
            <% end %>
          <% end %>
          <br>

          <% if draft.users.present? %>
            <strong>Team:  </strong><%= draft.users.map(&:name).to_sentence %><br>
          <% end %>

          <% if draft.notes.present? %>
            <strong>Notes:  </strong><%= draft.notes %><br>
          <% end %>
          <% if draft.reviews.present? %>
            <% draft.reviews.each do |review| %>
              <%= link_to "Review by #{review.user.name} (#{review.user.role.tr('_', ' ').titlecase})", community_friend_draft_review_path(
                current_community.slug,
                friend,
                draft,
                review
              ) %><%= review.created_at.strftime(" -- %A, %B %-d, %Y") %>
            <br>
            <% end %>
          <% end %>

        </div>
        <%= render partial: 'drafts/draft_status', locals: { current_community: current_community, friend: friend, draft: draft } %>

        <div class='col-md-1'>
          <% if current_user.admin? || current_user.has_active_data_entry_access_time_slot? %>
            <%= link_to 'Delete', community_friend_draft_path(current_community.slug, friend, draft), method: :delete, confirm: true, class: 'delete' %><br>
          <% end %>
        </div>
      </div>
      <br>
      <br>
    <% end %>
  <% end %>
<% end %>
