<!DOCTYPE html>
<html>
<head>
  <title>New Sanctuary Coalition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= render 'shared/header' %>

  <div class="container-fluid">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
