<!DOCTYPE html>
<html>
<head>
  <title>New Sanctuary Coalition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if current_user %>
    <% if current_user.admin? %>
      <% if current_community.primary? %>
        <%= render 'shared/primary_community_admin_header' %>
      <% else %>
        <%= render 'shared/non_primary_community_admin_header' %>
      <% end %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
  <% else %>
    <%= render 'shared/header' %>
  <% end %>

  <div class="container-fluid">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
