<!DOCTYPE html>
<html>
  <head>
    <title>New Sanctuary Coalition</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

  </head>
  <body>
    <%= render 'shared/header' %>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <% next if key == 'timedout' %>

        <%= content_tag(:div, value, class: "alert #{ bootstrap_class_for(key) }", role: 'alert') do %>
          <button class="close" data-dismiss="alert">x</button>
          <%= value %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
